#register-page-wr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 75vh;
}

#register-left,
#register-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.reg-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
