/**
=========================
* 800px
* @todo 800px
*=========================
*/
@media screen and (max-width: 800px) {
  #sing-wr {
    grid-template-columns: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/**
=========================
* 714px
* @todo 714px
*=========================
*/
@media screen and (max-width: 714px) {
  #sing-rating-wr {
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    gap: 1rem;
  }
}

/**
=========================
* 600px
* @todo 600px
*=========================
*/
@media screen and (max-width: 600px) {
  #sing-rating-right {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    border: 1px solid pink;
    border-radius: 10px;
    gap: 1.75rem;
  }
}

/**
=========================
* 424px
* @todo 424px
*=========================
*/
@media screen and (max-width: 424px) {
  ul.srr-stars li {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    align-items: center;
    gap: 8px;
  }
}
